.admin-dashboard {
    padding: 20px;
}

.admin-dashboard h2 {
    color: #333;
}

.admin-dashboard button {
    margin-bottom: 10px;
    background-color: #ff274e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-dashboard table, th, td {
    border: 1px solid black;
}

.admin-dashboard th, td {
    padding: 10px;
    text-align: left;
}
