body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li button {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: #333;
  border: none;
  cursor: pointer;
}

nav ul li button:hover,
nav ul li a:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid #ddd;
  text-align: left;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

form div {
  margin-bottom: 1em;
}
